<div class="fixed-nav-pad container">
<form id="searchform" action='/users' method='get'>
  Search for musicians within <input type='text' name='distance'> miles of me
  <input type='text' name='instrument' placeholder='Instrument'>
  <input type='text' name='genre' placeholder='Genre'>
  <input type='submit'>
</form>
</div>