<div id="users-list" class="container-fluid">
  <% if @users_distances %>
  <ul>
    <% @users_distances.keys.each do |user| %>
      <% unless user == current_user %>
        <li><a href="/users/<%= user.id %>"" target="blank"><%= user.first_name %> <%= user.last_name %></a></li>
        <p><%= @users_distances[user].round(2) %> miles away</p>
      <% end %>
    <% end %>
    <% end %>
  </ul>
</div>