<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Bandwagon</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>Bandwagon</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% unless current_user %>
        <li><a href='/users/new'><span class="glyphicon glyphicon-user"></span>   Sign Up</a></li>
        <li><a href='/sessions/new'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
      <% if current_user %>
        <li><a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-cd"></span> Hi, <%= current_user.first_name %></a></li>
        <li><form id='logout-form' action='/sessions' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input id="logout" class="btn btn-link" type='submit' value='Log Out'>
        </form></li>
      <% end %>
    </ul>
    </div>
  </nav>
  <%= yield %>
  <footer class="container-fluid text-center navbar-fixed-bottom">
    <p class="text-muted">&copy; 2016 Kim Stephenson</p>
  </footer>
</body>
</html>
